body {
  background-color: beige;
}

nav {
  display:flex;
  background-color: lightslategray;
  overflow: hidden;
}

nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}




.courses{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: start;
    
}



.course>p{
    flex-grow:4;
    justify-content: center;
}




/*I dont quite get why the text isnt lining up properly with the grid item to the left, 
tried solutions from online but nothing worked. Not sure how i can fix it. 
*/




@media screen and (max-width: 800px) {
    .courses{
        display:flex;
        flex-direction: column;
        
    }

    .courses>p{
        padding-bottom:15px;
        width: 100vw;
    
    }
    nav{
        display:flex;
        flex-direction: column;
    }
    
}