body {
  background-color: beige;
}

nav {
  display:flex;
  background-color: lightslategray;
  overflow: hidden;
}

nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}




.block{
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-auto-rows: 1fr; 
    width: 100vw;
    align-items: start;
    
}

.class{
    grid-column-start:1;
}

.courses>p{
    grid-column-start:2;
}

.divide{
    grid-column-start: span 2;
}

.date{
    color: black;
}





/*I dont quite get why the text isnt lining up properly with the grid item to the left, 
tried solutions from online but nothing worked. Not sure how i can fix it. 
*/




@media screen and (max-width: 800px) {
    .block{
        display:flex;
        flex-direction: column;
        
    }

    .courses>p{
        padding-bottom:15px;
        width: 100vw;
    
    }
    nav{
        display:flex;
        flex-direction: column;
    }

    hr{
        width:100vw;
    }
    
}